.popup__model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.popup__model-content {
  width: 500px;
  position: relative;
  background-color: var(--container-color);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
}

.popup__model-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.popup__model-title,
.popup__model-description {
  text-align: center;
}
.popup__model-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.popup__model-description {
  font-size: var(--small-font-size);
  padding: 0 3.5rem;
  margin-bottom: var(--mb-2);
}
.popup__model-services {
  row-gap: 0.75rem;
}

.popup__model-service {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.popup__model-icon {
  color: var(--title-color);
  font-size: 1.1rem;
}

.popup__model-info {
  font-size: var(--small-font-size);
}
@media screen and (max-width: 576px) {
  .popup__model-content {
    padding: 4.5rem 1.5rem 2.5rem;
  }
  .popup__model-description {
    padding: 0;
  }
}
